<section class="container">
  <div class="col-md-11">
    <form>
      <h4>Enter a comma separated list of recipients</h4>
      <div class="form-group">
        <label for="recipients">New Recipients</label>
        {{input type="text" name="recipients" id="recipients" class="form-control" valueBinding="new_recipients"}}
        {{#if errors.recipient}}
          <div class="form-field-error help-block">{{errors.recipient}}</div>
        {{/if}}
      </div>

    </form>
  </div>

  <div class="col-md-11">
    {{partial 'partials/message'}}
  </div>

  <div class="form-group col-md-5">
    <button class="btn btn-primary btn-lg" {{action 'confirm'}} id='confirm-forward'>Forward</button>
    <button class="btn btn-default btn-lg" {{action 'cancel'}} id='cancel-forward'>Cancel</button>
  </div>
</section>




