<!DOCTYPE html>
<html>
<head>
  <title>MessageCenter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "templates/all" %>
  <%= javascript_include_tag "//tinymce.cachefly.net/4.1/tinymce.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</header>

<script type="text/x-handlebars">
  {{outlet}}
</script>

<%= yield %>

</body>
</html>
